[General]
ConfigVersion=1.2
ManagedPack=true
iconKey=icon
; ManagedPackID=
; ManagedPackType=flame
; ManagedPackName=Ash&steel
; ManagedPackVersionName=DEV
name=Ash&steel
InstanceType=OneSix
AutoCloseConsole=false
CloseAfterLaunch=false
EnableFeralGamemode=false
EnableMangoHud=false
ExportVersion=1.0.0
LaunchMaximized=false
LogPrePostOutput=false
QuitAfterGameStop=false
RecordGameTime=true
ShowConsole=false
ShowConsoleOnError=true
ShowGameTime=false